<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @team.user %>
</p>

<p>
  <strong>Level:</strong>
  <%= @team.level %>
</p>

<p>
  <strong>County:</strong>
  <%= @team.county %>
</p>

<p>
  <strong>Club:</strong>
  <%= @team.club %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
