<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @match.user.email %>
</p>

<p>
  <strong>Teams:</strong>
  <%= @match.team.club %>
</p>

<p>
  <strong>Home:</strong>
  <%= @match.home %>
</p>

<p>
  <strong>Away:</strong>
  <%= @match.away %>
</p>

<p>
  <strong>Home goals:</strong>
  <%= @match.home_goals %>
</p>

<p>
  <strong>Home points:</strong>
  <%= @match.home_points %>
</p>

<p>
  <strong>Away goals:</strong>
  <%= @match.away_goals %>
</p>

<p>
  <strong>Away points:</strong>
  <%= @match.away_points %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @match.pitch %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
